name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/931514733724/locations/global/workloadIdentityPools/github-pool/providers/github'
          service_account: 'github-deployer@sg-2026-new-service.iam.gserviceaccount.com'
          project_id: 'sg-2026-new-service'

      - name: Set up gcloud
